
<div class="row">
  <div class="col-6">
    <h2 style="color:#2a5788;"> Suivi Reunion </h2>
  </div>
<div class="col-6 ">
  <button  (click)="addMettingDialog()"   mat-raised-button color="primary" >Add Metting </button>
</div>
</div>

<ejs-schedule width='100%' height='550px'

              [selectedDate]='selectedDate'

              [eventSettings]='eventSettings'>


</ejs-schedule>

<!--
<ejs-schedule width='100%' height='550px' [selectedDate]='selectedDate'
              [eventSettings]='eventSettings'>

</ejs-schedule>`-->
