

<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <div>
        <a class="d-inline-block mr-3"  (click)="NavToList()" href="javascript:void(0)"> <mat-icon color="primary">keyboard_backspace</mat-icon></a>
      </div>
      <div>
        <mat-card-title class="head" >Modifier Utilisateur </mat-card-title>
      </div>
    </mat-card-header>

    <form (ngSubmit)="onSubmit()" [formGroup]="updateUser">
      <nb-card>

        <nb-card-body>
          <div class="text-left">
            <div class="col-4 d-inline-block">


              <div>
                <mat-form-field>
                  <input matInput [(ngModel)]="this.user.username"  formControlName="username" required placeholder="Username">
                </mat-form-field>
              </div>


              <div>
                <mat-form-field>
                  <input matInput    [(ngModel)]="this.user.password"  formControlName="password" required placeholder="Put the  password">
                </mat-form-field>

              </div>



              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.user.firstname"  formControlName="firstname" required placeholder="firstname">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.user.lastname"  formControlName="lastname" required placeholder="Lastname">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput [(ngModel)]="this.user.email"   formControlName="email" required placeholder="Email">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.user.usertel"  formControlName="usertel" required placeholder="usertel">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <input matInput [(ngModel)]="this.user.useradresse"   formControlName="useradresse" required placeholder="userAdresse">
                </mat-form-field>
              </div>






              <div>
                <mat-form-field>
                  <mat-label> Utilisateur </mat-label>
                  <mat-select   [(value)]="this.default"  (selectionChange)="RoleSelected($event)" >
                    <mat-option *ngFor="let role of this.listRole"  [value]="role" >
                      {{role}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>




            </div>
          </div>



        </nb-card-body>


        <nb-card-footer>
          <div class="text-left">
            <button mat-raised-button  class=" m-2" color="warn">Update</button>

            <button mat-raised-button (click)="OnReset()" class=" m-2" color="primary">Rest</button>
          </div>

        </nb-card-footer>
      </nb-card>



    </form>
  </mat-card>
</div>
