<div class="row">

  <div class="col-6">
    <h2 style="color:#2a5788;"> gestion Utilisateur</h2>

  </div>
  <div class="col-6 ">
    <button class="float-lg-right mr-3"  (click)="NavToAdd()"  mat-raised-button color="primary" >Ajouter  Utilisateur</button>
  </div>


</div>

<br>

<mat-card>
  <mat-card-header>
    <form class="col-6 float-left" >

      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Recherche par nom"  aria-label="Assignee" matInput  [formControl]="myControl"  [(ngModel)]="this.searchText" class="advancedSearchTextbox">
        <mat-icon matSuffix>search</mat-icon>



      </mat-form-field>


    </form>

  </mat-card-header>



  <mat-card-content *ngIf="this.listUsers.length === 0 ">
    <div class="center-data" >
      <img src="../../../../assets/img/nodata-found.png">
      <h1> No user found</h1>
    </div>
  </mat-card-content>


  <mat-accordion *ngIf="!!this.listUsers">
    <div *ngFor="let user of this.listUsers | grdFilter: {username:searchText,lastname:searchText,poste:searchText}; let i=index;  ">
      <mat-expansion-panel    [hideToggle]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="align-content-center mt-2">
              {{user.firstname}}   {{user.lastname}}
            </div>



          </mat-panel-title>
          <mat-panel-description class="mt-2">
            {{user.poste}}
          </mat-panel-description>

          <div>
            <!--routerLink="../modifier-tes/{{test.idTest}}"-->
            <a href="javascript:void(0)" >  <mat-icon  aria-hidden="false"  (click)="this.NavToUpdate(user)" aria-label="Example home icon">edit</mat-icon>
            </a>
            <a href="javascript:void(0)">  <mat-icon  aria-hidden="false" (click)="this.deleteUser(user.id)" color="warn" aria-label="Example home icon">delete</mat-icon>
            </a>





          </div>


        </mat-expansion-panel-header>
        <mat-divider ></mat-divider>


        <div class="container-fluid  mt-4">

          <div class="row" >

            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" disabled value="{{user.username}}">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password " disabled value="{{user.password}}">
              </mat-form-field>
            </div>

          </div>
          <div class="row" >
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" disabled value="{{user.email}}">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Télephone" disabled value="{{user.usertel}}">
              </mat-form-field>
            </div>


          </div>

          <div class="row" >
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Adresse" disabled value="    {{user.useradresse}}">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Disponibilte" disabled value="   {{user.disponibilite}}">
              </mat-form-field>
            </div>




          </div>


        </div>



      </mat-expansion-panel>


    </div>

  </mat-accordion>








</mat-card>
