<div class="container-fluid" >
  <mat-card>
    <mat-card-header>
      <div>
        <a class="d-inline-block mr-3"
           href="javascript:void(0)" (click)="NavToEtat()"> <mat-icon color="primary">keyboard_backspace</mat-icon></a>
      </div>
      <div>
        <mat-card-title class="head" color="primary"></mat-card-title>
      </div>

      <h3 >

        Quiz Result</h3><br>
    </mat-card-header>

    <div class="row">
      <div class="col-6" >

        <button   class="float-lg-right mr-3"  (click)="print()"
        >
          <mat-icon  aria-hidden="false"  color="primary" aria-label="Example home icon">print</mat-icon>
        </button>
      </div>

    </div>
    <div class="result" id="print-section"  >

      <div class="p-3 mb-2 bg-info text-white">

        <h5>Name: {{this.name}}   /  Date Evaluation :{{this.dateEval}} /  Score :{{this.score}} </h5></div>
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8">
          <h1 class="text-success">                         Test        {{this.theme}}</h1>


        </div>

      </div>


      <p>
        <br/>

      </p>
      <br/>

      <div *ngFor="let question of questionList; let index = index">
        <div class="result-question">
          <h5>{{index + 1}}. {{question.name}}</h5>
          <div class="row">
            <div class="col-6" *ngFor="let Option of question.options">
              <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" /> {{Option.name}}
            </div>
          </div>
          <div id="correct" class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}"> answer is {{isCorrect(question)}}.</div>

        </div>
      </div>
      <h4 class="alert alert-info text-center"></h4>
    </div>


  </mat-card>
</div>
