<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="../../../../assets/img/medianet.PNG" alt="...">
            <h5 class="title">User Space</h5>
          </a>
          <p class="description">
            @chetfaker
          </p>
        </div>
        <p class="description text-center">
          Update My Profile
        </p>
      </div>
      <div class="card-footer">
        <hr>

      </div>
    </div>

  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="updateUser">

        <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Company (disabled)</label>
                <input type="text" class="form-control"   disabled="" placeholder="Medianet" value="Creative Code Inc.">
              </div>
            </div>
          <!--
           username:['',Validators.required],
      password:['',Validators.required],
      firstname:['',Validators.required],
      lastname:['',Validators.required],
      email:['',Validators.required],
      usertel:['',Validators.required],
      useradresse:['',Validators.required]
          -->
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" [(ngModel)]="this.username" formControlName="username" placeholder="Username" value="michael23">
              </div>
            </div>

            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Firstname</label>
                <input type="text" class="form-control"  [(ngModel)]="this.user.firstname"  formControlName="firstname" placeholder="Firstname" value="michael23">
              </div>
            </div>

            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Lastname</label>
                <input type="text" class="form-control" [(ngModel)]="this.user.lastname" formControlName="lastname" placeholder="Lastname" value="michael23">
              </div>
            </div>


            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" [(ngModel)]="this.user.email" formControlName="email" class="form-control" placeholder="Email">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" [(ngModel)]="this.user.useradresse" formControlName="useradresse" placeholder="Home Address" value="Melbourne, Australia">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>UserTel</label>
                <input type="text" class="form-control" [(ngModel)]="this.user.usertel" formControlName="usertel" placeholder="Home Address" value="Melbourne, Australia">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" required   formControlName="password" placeholder="Password" value="  ">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button  type="submit" class="btn btn-primary btn-round">Update Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
