
<nav class="navbar navbar-dark bg-primary">
  <h5 style="color:#2a5788;">Affecter Test aux candidat :{{this.name}} {{this.prenom}} </h5>



</nav>
<!--<div class="row">
  <div class="col-8">
    <h5 style="color:#2a5788;">Affecter Test aux candidat : </h5>
    <h5 style="color:#2a5788;">{{this.name}}  {{this.prenom}}</h5>
  </div>
  <div class="col-5">
    <div class="logo-image-small">
      <img height="57px" width="70px"  src="../../../assets/img/sign-question-icon.jpg">
    </div>
  </div>
</div>-->

<div class="container-fluid">

  <form (ngSubmit)="affecterCandidat()" [formGroup]=" affecterFormCandidat">
    <nb-card>

      <nb-card-body>
        <div class="text-left">
          <div class="col-4 d-inline-block">

            <div>
              <mat-form-field>
                <mat-label> Test </mat-label>
                <mat-select  (selectionChange)="testSelected($event)" >
                  <mat-option *ngFor="let test of this.listTest"  [value]="test.idTest" >
                    {{test.theme }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <mat-form-field class="input-width" >
              <input matInput  formControlName="dateDebut" [min]="today" [matDatepicker]="picker1" placeholder="Date de debut du test">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>


            <mat-form-field class="input-width" >
              <input matInput  formControlName="dateFin" [min]="today" [matDatepicker]="picker2" placeholder="Date de fin de test	">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>

            </mat-form-field>










          </div>


        </div>




      </nb-card-body>


      <nb-card-footer>
        <div class="text-left">
          <button mat-raised-button  class=" m-2" color="warn">Affecter</button>

          <button mat-raised-button (click)="OnReset()" class=" m-2" color="primary">Annuler</button>
        </div>

      </nb-card-footer>
    </nb-card>



  </form>
</div>




