
<div class="row">
  <div class="col-6">
    <h3 style="color:#2a5788;">Choix Question</h3>

  </div>
  <div class="col-6">
    <div class="logo-image-small">
      <img height="57px" width="70px"  src="../../../assets/img/sign-question-icon.jpg">
    </div>
  </div>
</div>

<div class="row">
    <div class="col-12">
        <h5  *ngIf="this.name">{{this.name}}</h5>

    </div>

</div>




<div class="container-fluid">

<!--(blur)="onBlurMethod()"  (focus)="onFoucsMethod()"-->
<form (ngSubmit)="addNewChoix()" [formGroup]="addchoixForm">
  <div class="row">
  <div class="col-5">
        <mat-form-field>
          <input matInput  formControlName="choix"   [(ngModel)]="myModel"     required placeholder="Choix">
        </mat-form-field>
  </div>
      <div class="col-7 ">
        <button    mat-raised-button color="primary"  [disabled]="statButton()"  >Ajouter choix </button>
      </div>
  </div>
</form>


    <form  name="formquestion"  [formGroup]="choixForm" class="compose-form" fxLayout="column" fxFlex>

          <div class="text-left">
            <div class="col-4 d-inline-block">
          <!--
              <div class="row"  *ngIf="this.name">
                <div class="col-6">
                  <label> </label>
                </div>
              </div>-->
              <div class="row" >
                <div class="col6" >

                      <mat-radio-group     aria-label="Select an option"    class="radio-group"  >

                       <mat-radio-button   (click)="displayChoice(choix,choix.reponse)"  *ngFor="let choix of this.listchoix"       [value]="choix"   class="radio-button"
                                            [checked]="choix.reponse===1"  >
                         {{choix.choix}}

                         <button     color="primary"  >Delete </button>
                       </mat-radio-button>

                    </mat-radio-group>

                </div>

              </div>
            <!--  <div>
                <mat-form-field>
                  <input matInput  formControlName="desgnQuestion" required placeholder="desgnQuestion">
                </mat-form-field>
              </div>-->








            </div>
          </div>





        <div mat-dialog-actions>


            <button mat-raised-button  class=" m-2" color="warn" (click)="onSubmit()">Enregistrer</button>

            <button mat-raised-button  (click)="onNoClick()" class=" m-2" color="primary">Annuler</button>

          </div>




    </form>
</div><!--
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.color" cdkFocusInitial>Ok</button>
</div>
-->
