<div class="row">
<div class="col-6">
  <h2  style="color:#2a5788;">Test question</h2>

</div>
  <div class="col-6 ">
    <button class="float-lg-right mr-3"  (click)="navAddquestion()"  mat-raised-button color="primary" >Ajouter Question</button>
  </div>

</div>
<br>
<mat-card>
  <mat-card-header>
    <div>
      <!--keyboard_backspace-->
      <a class="d-inline-block mr-3" routerLink="../../test" href="javascript:void(0)"> <mat-icon color="primary">keyboard_backspace</mat-icon></a>
    </div>
    <form class="" >
    <div class="row">
      <div class="col-3 ">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Recherche par nom"  matInput [(ngModel)]="searchText" [formControl]="myControl" class="advancedSearchTextbox">
        <mat-icon matSuffix>search</mat-icon>

      </mat-form-field>
      </div>
    </div>

    </form>


  </mat-card-header>



  <mat-card-content *ngIf="this.listQuestion.length === 0 ">
    <div class="center-data" >
      <img src="../../../../assets/img/nodata-found.png">
      <h1>data Not found</h1>
    </div>
  </mat-card-content>


  <mat-accordion *ngIf="!!this.listQuestion">
    <div *ngFor="let q of this.listQuestion | grdFilter: {desgnQuestion:searchText}; let i=index;" >
      <mat-expansion-panel    [hideToggle]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="align-content-center mt-2">
           {{q.desgnQuestion}}
          </div>



          </mat-panel-title>
          <mat-panel-description class="mt-2">

          </mat-panel-description>

          <div>
            <!--routerLink="../modifier-tes/{{test.idTest}}"-->
            <a href="javascript:void(0)" >  <mat-icon  aria-hidden="false" (click)="NaToUpdateQuestion(q.idQuestion)"   aria-label="Example home icon">edit</mat-icon>
          </a>
            <a href="javascript:void(0)">  <mat-icon (click)="deleteDialog(q.idQuestion)" aria-hidden="false" color="warn" aria-label="Example home icon">delete</mat-icon>
            </a>


            <a href="javascript:void(0)">  <mat-icon (click)="openDialog(q.idQuestion,q.desgnQuestion)" aria-hidden="false" color="primary" aria-label="Example home icon">list</mat-icon>
            </a>

          </div>

        </mat-expansion-panel-header>
        <mat-divider ></mat-divider>


        <div class="container-fluid  mt-4">
          <div class="row" >
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="TempsQuestion" disabled value="{{q.tempsQuestion}}">
              </mat-form-field>
            </div>


          </div>

            <div class="row" >
              <div class="col">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="unite" disabled value="{{q.unite}}">
                  </mat-form-field>
              </div>


              </div>
        </div>



        </mat-expansion-panel>


      </div>

    </mat-accordion>








</mat-card>
