
<div class="row">
  <div class="col-5">
    <h3 style="color:#2a5788;">Planifier Reunion </h3>

  </div>
  <div class="col-5">
    <div class="logo-image-small">
      <img height="65px" width="110px"  src="../../../assets/img/metting.jpg">
    </div>
  </div>
</div>

<div class="container-fluid">

  <form (ngSubmit)="addMetting()" [formGroup]="addMettingForm">
    <nb-card>

      <nb-card-body>
        <div class="text-left">
          <div class="col-4 d-inline-block">

            <div>
              <mat-form-field>
                <mat-label> Canidat </mat-label>
                <mat-select  (selectionChange)="candidatSelected($event)" >
                  <mat-option *ngFor="let candidat of this.listCandidat"  [value]="candidat.idCandidat" >
                    {{candidat.nom }} /{{candidat.prenom}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="row">
              <div class="col-4">
                <mat-form-field appearance="outline">
                  <mat-label>Subject</mat-label>
                  <input matInput name="name"
                         formControlName="subject">
                </mat-form-field>
              </div>
            </div>

            <mat-form-field>
              <input matInput type="datetime-local"

                     placeholder="24hr format" aria-label="24hr format" formControlName="startTime"

                     [(ngModel)]="this.dateTimeLocal"
                     placeholder="startTime">
            </mat-form-field>

            <mat-form-field>
              <input matInput type="datetime-local"  placeholder="24hr format" aria-label="24hr format" formControlName="endTime"
                     [(ngModel)]="this.dateTimeLocalend"
                     placeholder="endTime">
            </mat-form-field>

          </div>


        </div>




      </nb-card-body>


      <nb-card-footer>
        <div class="text-left">
          <button mat-raised-button  class=" m-2" color="warn">Add Metting</button>

          <button mat-raised-button (click)="OnReset()" class=" m-2" color="primary">Reset</button>
        </div>

      </nb-card-footer>
    </nb-card>



  </form>
</div>








            <!--
              <mat-form-field>
              <input matInput [ngxMatDatetimePicker]="picker" formControlName="startTime"
                     placeholder="Choose a date" [formControl]="dateControl"
                     [disabled]="disabled">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                       [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                       [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian"
                                       [disableMinute]="disableMinute" [hideTime]="hideTime">
              </ngx-mat-datetime-picker>
            </mat-form-field>

                        <mat-form-field class="input-width" >
                          <input matInput  formControlName="startTime" [matDatepicker]="picker1" placeholder="StartTime">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>-->

            <!--<mat-form-field>
              <input matInput [ngxMatDatetimePicker]="picker" formControlName="startTime" placeholder="Choose a date" [formControl]="dateControl"
                      [disabled]="disabled">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners"
                                       [stepHour]="stepHour" [stepMinute]="stepMinute"
                                       [touchUi]="touchUi"  [enableMeridian]="enableMeridian"
                                       [disableMinute]="disableMinute" [hideTime]="hideTime">
              </ngx-mat-datetime-picker>
            </mat-form-field>-->
